@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    Layout = "_Layout";
}


@* <html>
<head>
    <title>AboutUs</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
</head>
<body> *@
@* <header>
        <center>
            <a href="/Home/Index" class="btn btn-primary">Home</a>
            <a href="/Home/AboutUs" class="btn btn-primary">AboutUs</a>
            <a href="/Home/ContactUs" class="btn btn-primary">ContactUs</a>
            <a href="/Home/Privacy" class="btn btn-primary">Privacy</a>
        </center>
    </header> *@
<div>
    <h1>AboutUs page</h1>
</div>
@* <footer>
        <center>
            Copyrights route Academy @DateTime.Now.Year
        </center>
    </footer> *@
@* </body>
</html> *@